*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(./images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    font-size: 16px;
}

header{
    margin: 60px 30px 40px;
    padding-top: 20px;
}

main{
    margin: 0 30px 20px;
}

.title, .subtitle{
    text-align: center;
    color: #ffffff;
}

.subtitle{
    line-height: 28px;
}

.information{
    text-align: center;
    background-color: hsl(248, 32%, 49%);
    color:#ffffff;
    border-radius: 10px;
    line-height: 28px;
    margin: 10px 0 20px;
    padding: 20px 40px 20px;
    box-shadow: 0px 8px 1px 0px hsla(0, 0%, 19%, 0.275) ;
}

.form{
    margin: 24px 0;
    padding: 24px;
    background-color: hsl(100, 100%, 100%);
    border-radius: 10px;
    box-shadow: 0px 8px 1px 0px hsla(0, 0%, 19%, 0.275) ;
}

input, button{
    display: block;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid hsl(246, 25%, 77%);
    padding: 12px 14px;
    font-weight: 600;
    border-radius: 4px;
    color:hsl(248, 32%, 49%);
}

input{
    border: 1px solid hsl(246, 25%, 77%);
    transition: all;
}

input:focus{
    outline: none;
    border: 2px solid hsl(248, 32%, 49%);
}

button{
    background-color: hsl(154, 59%, 51%);
    font-size: 16px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 14px;
    font-weight: 500;
    border: none;
    box-shadow: 0px 3px 1px 0px hsl(154, 58%, 45%);
}

.text{
    text-align: center;
    font-size: 10px;
    padding: 0 30px;
    color:hsl(246, 25%, 77%)
}

.terms-and-services{
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: bold;
    line-height: 24px;
}

.error-msg-first-name, .error-msg-last-name, .error-msg-email, .error-msg-password{
    color: hsl(0, 100%, 74%);
    display:block;
    text-align: end;
    width: 100%;
    margin: 5px 0 14px;
    font-weight: 600;
    font-style: italic;
}

.input-field{
    position: relative;
}

.error-icon-name, .error-icon-last-name, .error-icon-email, .error-icon-password{
    position: absolute;
    top: 37%;
    transform: translateY(-50%);
    right: 1rem;
    display: none;
}




.attribution{
    color: #ffffff;
}

@media(min-width:376px){
    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0vh auto;
        height: 100vh;
        background-image: url(./images/bg-intro-desktop.png);
    }

    header{
        width: 40%;
        height: 96vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 0px 0px;
        padding-top: 0px;
    }

    .title, .subtitle{
        text-align: left;
        width: 90%;
    }

    .title{
        font-size: 3em;
    }

    main{
        width: 36%;
        margin: 0 30px;
        align-self: center;
    }

    .form{
        padding: 40px;
    }

    input{
        padding:12px 20px
    }
    footer{
        width: 100%;
        height: 4vh;
    }

}